
# Python & Virtual Env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Environment Variables
.env
.env.local

# Jupyter Notebooks
.ipynb_checkpoints/
*/.ipynb_checkpoints/
profile_default/
ipython_config.py

# MacOS
.DS_Store

# IDEs
.vscode/
.idea/

# Project Specific (Artifacts, Data, Models)
output/
model/
input/
dataset/
runs/
wandb/
